<!doctype html>
<html>
<head>
    <title>Meme Fiends</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body id="profileBg">
<div class="profile container">

    <div class="header text-center">
        <h1><span class="fa fa-bomb"></span> Main Page</h1>
        <a href="/logout" class="btn btn-default btn-lg">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <!-- <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user-circle"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div> -->

        <div class="col-sm-12">
          <h3 class="text-center">MEME BOARD</h3>
          <ul class="messages">
          <% for(var i=0; i<messages.length; i++) {%>
            <li class="message">
              <p><%= messages[i].name %></p>
              <img src=<%= "" + messages[i].src %> >
              <p><%= messages[i].msg %></p>
              <span><%= messages[i].value %></span>
              <span><i class="fa fa-arrow-up arrow" aria-hidden="true"></i></span>
              <span><i class="fa fa-arrow-down arrow" aria-hidden="true"></i></span>
              <span><i class="fa fa-trash" aria-hidden="true"></i></span>
            </li>
          <% } %>
          </ul>
      </div>
    <div class="col-sm-6">
          <h2>Add a Message</h2>
        <% if (user.local.email) { %>
          <form id="userInput"action="/messages" method="POST">
            <input type="text" value="<%= user.local.email %>" name="name">
            <input type="text" placeholder="phto url" name="src">
            <textarea type="text" placeholder="write about it!" name="msg"></textarea>
            <button type="submit">Submit</button>
          </form>
        </div>
        <% } %>

</div>

<script src="main.js"></script>

</body>
</html>
